{{define "_header"}}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/styles.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <title>Reddit Filters</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container">
        <a class="navbar-brand" href="/">Reddit Filters</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link {{ if eq .Reddit "" }}active{{end}}" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ if eq .Reddit "popular" }}active{{end}}" href="/r/popular">Popular</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ if eq .Reddit "all" }}active{{end}}" href="/r/all">All</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">Sort</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "sort" "top" }}">Top (the most votes)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "sort" "best" }}">Best (highest upvote to downvote ratio)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "sort" "hot" }}">Hot (upvotes in time) ()already popular)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "sort" "new" }}">New (latest submitted)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "sort" "rising" }}">Rising (most comments/upvotes in time) (becoming popular)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "sort" "controversial" }}">Controversial (upvote to downvote ratio is as close to 1 as possible)</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">Time</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "time" "default" }}">Default</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "time" "hour" }}">Hour</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "time" "day" }}">Day</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "time" "week" }}">Week</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "time" "month" }}">Month</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "time" "year" }}">Year</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "time" "all" }}">AllTime</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">Location</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "GLOBAL" }}">Global</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "AR" }}">Argentina</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "AU" }}">Australia</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "BG" }}">Bulgaria</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "CA" }}">Canada</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "CL" }}">Chile</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "CO" }}">Colombia</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "CZ" }}">Czechia</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "FI" }}">Finland</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "GB" }}">United Kingdom</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "GR" }}">Greece</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "HR" }}">Croatia</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "HU" }}">Hungary</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "IE" }}">Ireland</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "IN" }}">India</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "IS" }}">Iceland</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "JP" }}">Japan</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "MX" }}">Mexico</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "MY" }}">Malaysia</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "NZ" }}">New Zealand</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "PH" }}">Philippines</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "PL" }}">Poland</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "PR" }}">Puerto Rico</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "PT" }}">Portugal</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "RO" }}">Romania</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "RS" }}">Serbia</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "SE" }}">Sweden</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "SG" }}">Singapore</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "TH" }}">Thailand</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "TR" }}">Turkey</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "TW" }}">Taiwan</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US" }}">United States</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_WA" }}">United States (WA)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_DE" }}">United States (DE)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_DC" }}">United States (DC)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_WI" }}">United States (WI)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_WV" }}">United States (WV)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_HI" }}">United States (HI)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_FL" }}">United States (FL)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_WY" }}">United States (WY)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_NH" }}">United States (NH)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_NJ" }}">United States (NJ)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_NM" }}">United States (NM)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_TX" }}">United States (TX)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_LA" }}">United States (LA)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_NC" }}">United States (NC)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_ND" }}">United States (ND)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_NE" }}">United States (NE)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_TN" }}">United States (TN)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_NY" }}">United States (NY)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_PA" }}">United States (PA)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_CA" }}">United States (CA)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_NV" }}">United States (NV)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_VA" }}">United States (VA)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_CO" }}">United States (CO)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_AK" }}">United States (AK)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_AL" }}">United States (AL)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_AR" }}">United States (AR)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_VT" }}">United States (VT)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_IL" }}">United States (IL)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_GA" }}">United States (GA)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_IN" }}">United States (IN)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_IA" }}">United States (IA)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_OK" }}">United States (OK)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_AZ" }}">United States (AZ)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_ID" }}">United States (ID)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_CT" }}">United States (CT)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_ME" }}">United States (ME)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_MD" }}">United States (MD)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_MA" }}">United States (MA)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_OH" }}">United States (OH)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_UT" }}">United States (UT)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_MO" }}">United States (MO)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_MN" }}">United States (MN)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_MI" }}">United States (MI)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_RI" }}">United States (RI)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_KS" }}">United States (KS)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_MT" }}">United States (MT)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_MS" }}">United States (MS)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_SC" }}">United States (SC)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_KY" }}">United States (KY)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_OR" }}">United States (OR)</a>
                        <a class="dropdown-item" href="/{{.Reddit}}?{{ override .Query "location" "US_SD" }}">United States (SD)</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/info">Info</a>
                </li>
            {{ if .IsLoggedIn }}
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            {{end}}
            </ul>
        </div>
    </div>
</nav>

{{end}}
