{{define "listing"}}

{{ template "_header" . }}

<div class="container">

    <div class="card mb-4">
        <div class="card-header">Filters</div>
        <div class="card-body">

            <form action="/" method="get" id="filters">
                <div class="row">

                    <div class="col-3">
                        <div class="form-group">
                            <label for="images" class="{{ if has .Query "images" }}font-weight-bold{{end}}">Images</label>
                            <select class="form-control" id="images" name="images">
                                <option value="">All</option>
                                <option value="t" {{if option .Query "images" "t"}}selected{{end}}>Images Only</option>
                                <option value="f" {{if option .Query "images" "f"}}selected{{end}}>No Images</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="form-group">
                            <label for="videos" class="{{ if has .Query "videos" }}font-weight-bold{{end}}">Videos</label>
                            <select class="form-control" id="videos" name="videos">
                                <option value="">All</option>
                                <option value="t" {{if option .Query "videos" "t"}}selected{{end}}>Videos Only</option>
                                <option value="f" {{if option .Query "videos" "f"}}selected{{end}}>No Videos</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="form-group">
                            <label for="selfs" class="{{ if has .Query "selfs" }}font-weight-bold{{end}}">Self Posts</label>
                            <select class="form-control" id="selfs" name="selfs">
                                <option value="">All</option>
                                <option value="t" {{if option .Query "selfs" "t"}}selected{{end}}>Self Posts Only</option>
                                <option value="f" {{if option .Query "selfs" "f"}}selected{{end}}>No Self Posts</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="form-group">
                            <label for="spoilers" class="{{ if has .Query "spoilers" }}font-weight-bold{{end}}">Spoilers</label>
                            <select class="form-control" id="spoilers" name="spoilers">
                                <option value="">All</option>
                                <option value="t" {{if option .Query "spoilers" "t"}}selected{{end}}>Spoilers Only</option>
                                <option value="f" {{if option .Query "spoilers" "f"}}selected{{end}}>No Spoilers</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="form-group">
                            <label for="saved" class="{{ if has .Query "saved" }}font-weight-bold{{end}}">Saved</label>
                            <select class="form-control" id="saved" name="saved">
                                <option value="">All</option>
                                <option value="t" {{if option .Query "saved" "t"}}selected{{end}}>Saved Posts Only</option>
                                <option value="f" {{if option .Query "saved" "f"}}selected{{end}}>No Saved Posts</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="form-group">
                            <label for="clicked" class="{{ if has .Query "clicked" }}font-weight-bold{{end}}">Clicked</label>
                            <select class="form-control" id="clicked" name="clicked">
                                <option value="">All</option>
                                <option value="t" {{if option .Query "clicked" "t"}}selected{{end}}>Clicked Posts Only</option>
                                <option value="f" {{if option .Query "clicked" "f"}}selected{{end}}>No Clicked Posts</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="form-group">
                            <label for="hidden" class="{{ if has .Query "hidden" }}font-weight-bold{{end}}">Hidden</label>
                            <select class="form-control" id="hidden" name="hidden">
                                <option value="">All</option>
                                <option value="t" {{if option .Query "hidden" "t"}}selected{{end}}>Hidden Posts Only</option>
                                <option value="f" {{if option .Query "hidden" "f"}}selected{{end}}>No Hidden Posts</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="form-group">
                            <label for="visited" class="{{ if has .Query "visited" }}font-weight-bold{{end}}">Visited</label>
                            <select class="form-control" id="visited" name="visited">
                                <option value="">All</option>
                                <option value="t" {{if option .Query "visited" "t"}}selected{{end}}>Visited Posts Only</option>
                                <option value="f" {{if option .Query "visited" "f"}}selected{{end}}>No Visited Posts</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="form-group">
                            <label for="original" class="{{ if has .Query "original" }}font-weight-bold{{end}}">Original</label>
                            <select class="form-control" id="original" name="original">
                                <option value="">All</option>
                                <option value="t" {{if option .Query "original" "t"}}selected{{end}}>Original Posts Only</option>
                                <option value="f" {{if option .Query "original" "f"}}selected{{end}}>No Original Posts</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="form-group">
                            <label for="nsfw" class="{{ if has .Query "nsfw" }}font-weight-bold{{end}}">NSFW</label>
                            <select class="form-control" id="nsfw" name="nsfw">
                                <option value="">All</option>
                                <option value="t" {{if option .Query "nsfw" "t"}}selected{{end}}>NSFW Posts Only</option>
                                <option value="f" {{if option .Query "nsfw" "f"}}selected{{end}}>No NSFW Posts</option>
                            </select>
                        </div>
                    </div>

                </div>
            </form>

        </div>
    </div>

</div>

<div class="container">

    <ul class="list-unstyled" id="results"></ul>

    <button type="button" class="btn btn-success mb-4 mt-4x" id="load-more">Load More <i class="fas fa-spinner fa-spin"></i></button>

</div>

<script>
    var reddit = '{{.Reddit}}';
</script>

<script src="/assets/json2html.js"></script>
<script src="/assets/jquery.json2html.js"></script>
<script src="/assets/scripts.js"></script>

{{ template "_footer" . }}

{{end}}
